body {
  background-color: honeydew;
}

.pixel {
  width: 80px;
  height: 80px;
  background-size: 80px 80px;
  background-color: white;
  background-image: '';
  border: 1px solid black;
  float: left;
}

.test{
  width: 40px;
  height: 40px;
  border: 1px solid black;
  float: left;
}

#board {
  display: block;
  margin: 0 auto;
  border: 3px solid black;
}

#list-images {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 300px;
  border: 3px solid black;
}

h1, h2, #size-section, #score-section {
  text-align: center;
  height: 50px;
  margin-top: 30px;
}


#wrongs-div, #rights-div, #score-div {
  display: inline-block;
  margin: 0 30px 0;
}

#score-section {
  margin: 0 auto;
}

#wrongs-score, #rights-score, #score {
  font-weight: bold;
}